# Necessary library install (uncomment below lines to install)

In [4]:
# !pip install matplotlib
# !pip install numpy
# !pip install pandas
# !pip install seaborn

## Importing necessary libraries

In [2]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Dataset discription
Feature - 83

rows - 41198

# Acquisition

In [3]:
## loading dataset to a variable
vehicles_data = pd.read_csv("dataset/vehicles.csv")
## showing top 6 row of the dataset
vehicles_data.head()
## showing last 6 row of the dataset
# vehicles_data.tail()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

# Exploration and understanding

## Data Description

#### Variable Identification

variable type and description can be found on the headers.names file in the dataset folder.

# Head columns and type

atvtype - type of alternative fuel or advanced technology vehicle

barrels08 - annual petroleum consumption in barrels for fuelType1 (1)

barrelsA08 - annual petroleum consumption in barrels for fuelType2 (1)

charge120 - time to charge an electric vehicle in hours at 120 V 

charge240 - time to charge an electric vehicle in hours at 240 V

In [16]:
# number of rows # number of columns
# rows, columns
vehicles_data.shape

(41197, 83)

In [17]:
# Variables and their type info
vehicles_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41197 entries, 0 to 41196
Data columns (total 83 columns):
barrels08          41197 non-null float64
barrelsA08         41197 non-null float64
charge120          41197 non-null float64
charge240          41197 non-null float64
city08             41197 non-null int64
city08U            41197 non-null float64
cityA08            41197 non-null int64
cityA08U           41197 non-null float64
cityCD             41197 non-null float64
cityE              41197 non-null float64
cityUF             41197 non-null float64
co2                41197 non-null int64
co2A               41197 non-null int64
co2TailpipeAGpm    41197 non-null float64
co2TailpipeGpm     41197 non-null float64
comb08             41197 non-null int64
comb08U            41197 non-null float64
combA08            41197 non-null int64
combA08U           41197 non-null float64
combE              41197 non-null float64
combinedCD         41197 non-null float64
combinedUF         41197 non-null float64
cylinders          40988 non-null float64
displ              40990 non-null float64
drive              40008 non-null object
engId              41197 non-null int64
eng_dscr           25035 non-null object
feScore            41197 non-null int64
fuelCost08         41197 non-null int64
fuelCostA08        41197 non-null int64
fuelType           41197 non-null object
fuelType1          41197 non-null object
ghgScore           41197 non-null int64
ghgScoreA          41197 non-null int64
highway08          41197 non-null int64
highway08U         41197 non-null float64
highwayA08         41197 non-null int64
highwayA08U        41197 non-null float64
highwayCD          41197 non-null float64
highwayE           41197 non-null float64
highwayUF          41197 non-null float64
hlv                41197 non-null int64
hpv                41197 non-null int64
id                 41197 non-null int64
lv2                41197 non-null int64
lv4                41197 non-null int64
make               41197 non-null object
model              41197 non-null object
mpgData            41197 non-null object
phevBlended        41197 non-null bool
pv2                41197 non-null int64
pv4                41197 non-null int64
range              41197 non-null int64
rangeCity          41197 non-null float64
rangeCityA         41197 non-null float64
rangeHwy           41197 non-null float64
rangeHwyA          41197 non-null float64
trany              41186 non-null object
UCity              41197 non-null float64
UCityA             41197 non-null float64
UHighway           41197 non-null float64
UHighwayA          41197 non-null float64
VClass             41197 non-null object
year               41197 non-null int64
youSaveSpend       41197 non-null int64
guzzler            2423 non-null object
trans_dscr         15047 non-null object
tCharger           6910 non-null object
sCharger           846 non-null object
atvType            3565 non-null object
fuelType2          1608 non-null object
rangeA             1603 non-null object
evMotor            856 non-null object
mfrCode            10379 non-null object
c240Dscr           84 non-null object
charge240b         41197 non-null float64
c240bDscr          80 non-null object
createdOn          41197 non-null object
modifiedOn         41197 non-null object
startStop          9493 non-null object
phevCity           41197 non-null int64
phevHwy            41197 non-null int64
phevComb           41197 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.8+ MB

In [14]:
## checking unique, min, max year in the dataset
# len(set(vehicles_data['year'])) # python way
unique_years = vehicles_data['year'].nunique() # pandas way
min_year = vehicles_data['year'].min()
max_year = vehicles_data['year'].max()

In [17]:
print("Unique year:", unique_years)
print("Minimum year:", min_year)
print("Maximum year:", max_year)

Unique year: 37
Minimum year: 1984
Maximum year: 2020

In [20]:
# Fuel type would be a important fetaure
# Q what types of fuel are used as the automobiles' primary fuel types
unique_fuel_type_1 = vehicles_data['fuelType1'].nunique()
unique_fuel_type_1

## Their are 6 unique fueltypes

6

In [24]:
vehicles_data['fuelType1'].value_counts()

# Insight : looks like most most cars in the dataset use regular gasoline, 
# and the second most common fuel type is premium gasoline

Regular Gasoline     27861
Premium Gasoline     11784
Diesel                1180
Electricity            206
Midgrade Gasoline      106
Natural Gas             60
Name: fuelType1, dtype: int64

In [53]:
## Separating boolean, numerical and categorical columns.
def column_types_in_df(dataFrame:pd.DataFrame, variable_type:list):
    """
    This function will return boolean or Numeric or Categorical variable from a dataFrame and their length
    
    Arguments: [dataFrame] : A pandas data frame
               [variable_type] : A list of variable types
    example:
        ['float64','float32','int32','int64'] represents Numeric Variable
        ['bool'] represents boolean Varible
        ['object'] represents Categorical Varible
    """
    column_types = [key for key in dict(dataFrame.dtypes)
             if dict(dataFrame.dtypes)[key] in variable_type ]
    
    return column_types, len(column_types)

In [37]:
## Separating boolean, numerical and categorical columns.
# boolean_columns = [key for key in dict(vehicles_data.dtypes)
#              if dict(vehicles_data.dtypes)[key] in ['bool'] ] # boolean Varible

# numeric_columns = [key for key in dict(vehicles_data.dtypes)
#                    if dict(vehicles_data.dtypes)[key]
#                        in ['float64','float32','int32','int64']] # Numeric Variable

# categorical_columns = [key for key in dict(vehicles_data.dtypes)
#              if dict(vehicles_data.dtypes)[key] in ['object'] ] # Categorical Varible

In [54]:
boolean_columns, boolean_columns_length = column_types_in_df(vehicles_data, ['bool'])
numeric_columns, numeric_columns_length = column_types_in_df(vehicles_data, ['float64','float32','int32','int64'])
categorical_columns, categorical_columns_length = column_types_in_df(vehicles_data, ['object'])

In [59]:
print("Boolean columns:")
print(boolean_columns)
print("Numerical columns:")
print(numeric_columns)
print("Categorical columns:")
print(categorical_columns)

Boolean columns:
['phevBlended']
Numerical columns:
['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders', 'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year', 'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']
Categorical columns:
['drive', 'eng_dscr', 'fuelType', 'fuelType1', 'make', 'model', 'mpgData', 'trany', 'VClass', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop']

In [56]:
print(boolean_columns_length)
print(numeric_columns_length)
print(categorical_columns_length)

1
59
23

In [44]:
## Counting missing values in the dataset.
missing_values_freq = vehicles_data[boolean_columns + numeric_columns + categorical_columns].isnull().sum()

In [50]:
missing_values_freq
# Insight : looks like lots of missing values some values are pretty bad like 
# guzzler            38774
# trans_dscr         26150
# tCharger           34287
# sCharger           40351
# atvType            37632
# fuelType2          39589
# rangeA             39594
# evMotor            40341
# mfrCode            30818
# c240Dscr           41113
# c240bDscr          41117
# startStop          31704

# TODO: We have to handle missing value

phevBlended            0
barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            209
displ                207
engId                  0
feScore                0
fuelCost08             0
fuelCostA08            0
ghgScore               0
                   ...
UHighwayA              0
year                   0
youSaveSpend           0
charge240b             0
phevCity               0
phevHwy                0
phevComb               0
drive               1189
eng_dscr           16162
fuelType               0
fuelType1              0
make                   0
model                  0
mpgData                0
trany                 11
VClass                 0
guzzler            38774
trans_dscr         26150
tCharger           34287
sCharger           40351
atvType            37632
fuelType2          39589
rangeA             39594
evMotor            40341
mfrCode            30818
c240Dscr           41113
c240bDscr          41117
createdOn              0
modifiedOn             0
startStop          31704
Length: 83, dtype: int64

# Munging, wrangling, and manipulation

# Analysis and modeling

# Communication and operationalization