# Necessary library install (uncomment below lines to install)

In [4]:
# !pip install matplotlib
# !pip install numpy
# !pip install pandas
# !pip install seaborn

## Importing necessary libraries

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from ggplot import *
%matplotlib inline

# Dataset discription
Feature - 83

rows - 41198

# Acquisition

In [2]:
## loading dataset to a variable
vehicles_data = pd.read_csv("dataset/vehicles.csv")
## showing top 6 row of the dataset
vehicles_data.head()
## showing last 6 row of the dataset
# vehicles_data.tail()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

# Exploration and understanding

## Data Description

#### Variable Identification

variable type and description can be found on the headers.names file in the dataset folder.

# Head columns and type

atvtype - type of alternative fuel or advanced technology vehicle

barrels08 - annual petroleum consumption in barrels for fuelType1 (1)

barrelsA08 - annual petroleum consumption in barrels for fuelType2 (1)

charge120 - time to charge an electric vehicle in hours at 120 V 

charge240 - time to charge an electric vehicle in hours at 240 V

In [3]:
# number of rows # number of columns
# rows, columns
vehicles_data.shape

(41197, 83)

In [6]:
# Column names
column_names = vehicles_data.columns.values
column_names
# Variables and their type info
# vehicles_data.info()

array(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF',
       'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'id', 'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'trany', 'UCity', 'UCityA', 'UHighway', 'UHighwayA',
       'VClass', 'year', 'youSaveSpend', 'guzzler', 'trans_dscr',
       'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb', 'trany2'], dtype=object)

In [7]:
## checking unique, min, max year in the dataset
# len(set(vehicles_data['year'])) # python way
# unique_years = vehicles_data['year'].nunique() # pandas way
min_year = vehicles_data['year'].min()
max_year = vehicles_data['year'].max()

# other way
unique_years = len(pd.unique(vehicles_data.year)) # pandas another way

In [8]:
print("Unique year:", unique_years)
print("Minimum year:", min_year)
print("Maximum year:", max_year)

Unique year: 37
Minimum year: 1984
Maximum year: 2020

In [6]:
# Fuel type would be a important fetaure
# Q what types of fuel are used as the automobiles' primary fuel types
unique_fuel_type_1 = vehicles_data['fuelType1'].nunique()
unique_fuel_type_1

## Their are 6 unique fueltypes

6

In [7]:
vehicles_data['fuelType1'].value_counts()

# Insight : looks like most most cars in the dataset use regular gasoline, 
# and the second most common fuel type is premium gasoline

Regular Gasoline     27861
Premium Gasoline     11784
Diesel                1180
Electricity            206
Midgrade Gasoline      106
Natural Gas             60
Name: fuelType1, dtype: int64

In [8]:
## Separating boolean, numerical and categorical columns.
def separate_data_types_in_df(dataFrame:pd.DataFrame, variable_type:list):
    """
    This function will return boolean or Numeric or Categorical variable from a dataFrame and their length
    
    Arguments: [dataFrame] : A pandas data frame
               [variable_type] : A list of variable types
    example:
        ['float64','float32','int32','int64'] represents Numeric Variable
        ['bool'] represents boolean Varible
        ['object'] represents Categorical Varible
    """
    column_types = [key for key in dict(dataFrame.dtypes)
             if dict(dataFrame.dtypes)[key] in variable_type ]
    
    return column_types, len(column_types)

In [37]:
## Separating boolean, numerical and categorical columns.
# boolean_columns = [key for key in dict(vehicles_data.dtypes)
#              if dict(vehicles_data.dtypes)[key] in ['bool'] ] # boolean Varible

# numeric_columns = [key for key in dict(vehicles_data.dtypes)
#                    if dict(vehicles_data.dtypes)[key]
#                        in ['float64','float32','int32','int64']] # Numeric Variable

# categorical_columns = [key for key in dict(vehicles_data.dtypes)
#              if dict(vehicles_data.dtypes)[key] in ['object'] ] # Categorical Varible

In [9]:
boolean_columns, boolean_columns_length = separate_data_types_in_df(vehicles_data, ['bool'])
numeric_columns, numeric_columns_length = separate_data_types_in_df(vehicles_data, ['float64','float32','int32','int64'])
categorical_columns, categorical_columns_length = separate_data_types_in_df(vehicles_data, ['object'])

In [59]:
print("Boolean columns:")
print(boolean_columns)
print("Numerical columns:")
print(numeric_columns)
print("Categorical columns:")
print(categorical_columns)

Boolean columns:
['phevBlended']
Numerical columns:
['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders', 'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year', 'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']
Categorical columns:
['drive', 'eng_dscr', 'fuelType', 'fuelType1', 'make', 'model', 'mpgData', 'trany', 'VClass', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop']

In [18]:
print(boolean_columns_length)
print(numeric_columns_length)
print(categorical_columns_length)

1
59
23

In [19]:
## Counting missing values in the dataset.
missing_values_freq = vehicles_data[boolean_columns + numeric_columns + categorical_columns].isnull().sum()

In [50]:
missing_values_freq
# Insight : looks like lots of missing values some values are pretty bad like 
# guzzler            38774
# trans_dscr         26150
# tCharger           34287
# sCharger           40351
# atvType            37632
# fuelType2          39589
# rangeA             39594
# evMotor            40341
# mfrCode            30818
# c240Dscr           41113
# c240bDscr          41117
# startStop          31704

# TODO: We have to handle missing value

phevBlended            0
barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            209
displ                207
engId                  0
feScore                0
fuelCost08             0
fuelCostA08            0
ghgScore               0
                   ...
UHighwayA              0
year                   0
youSaveSpend           0
charge240b             0
phevCity               0
phevHwy                0
phevComb               0
drive               1189
eng_dscr           16162
fuelType               0
fuelType1              0
make                   0
model                  0
mpgData                0
trany                 11
VClass                 0
guzzler            38774
trans_dscr         26150
tCharger           34287
sCharger           40351
atvType            37632
fuelType2          39589
rangeA             39594
evMotor            40341
mfrCode            30818
c240Dscr           41113
c240bDscr          41117
createdOn              0
modifiedOn             0
startStop          31704
Length: 83, dtype: int64

### Types of transmissions used by these automobiles

In [3]:
vehicles_data['trany'] = vehicles_data['trany'].fillna("NA")
transmission_types_missing_value_freq = vehicles_data['trany'].fillna("NA")

In [17]:
transmission_types_missing_value_freq

0           Manual 5-spd
1           Manual 5-spd
2           Manual 5-spd
3        Automatic 3-spd
4           Manual 5-spd
5        Automatic 3-spd
6           Manual 5-spd
7        Automatic 3-spd
8           Manual 5-spd
9        Automatic 4-spd
10          Manual 5-spd
11       Automatic 4-spd
12          Manual 5-spd
13       Automatic 4-spd
14       Automatic 3-spd
15          Manual 5-spd
16       Automatic 4-spd
17          Manual 5-spd
18       Automatic 4-spd
19          Manual 5-spd
20       Automatic 5-spd
21       Automatic 5-spd
22       Automatic 4-spd
23       Automatic 3-spd
24       Automatic 3-spd
25          Manual 4-spd
26       Automatic 4-spd
27       Automatic 3-spd
28       Automatic 4-spd
29       Automatic 4-spd
              ...
41167       Manual 5-spd
41168    Automatic 3-spd
41169       Manual 5-spd
41170    Automatic 4-spd
41171       Manual 5-spd
41172    Automatic 3-spd
41173    Automatic 3-spd
41174       Manual 5-spd
41175       Manual 4-spd
41176       Manual 5-spd
41177    Automatic 3-spd
41178    Automatic 3-spd
41179       Manual 4-spd
41180       Manual 5-spd
41181    Automatic 4-spd
41182    Automatic 3-spd
41183       Manual 5-spd
41184       Manual 5-spd
41185    Automatic 3-spd
41186    Automatic 3-spd
41187       Manual 5-spd
41188    Automatic 4-spd
41189    Automatic 4-spd
41190       Manual 5-spd
41191       Manual 5-spd
41192    Automatic 4-spd
41193       Manual 5-spd
41194    Automatic 4-spd
41195       Manual 5-spd
41196    Automatic 4-spd
Name: trany, Length: 41197, dtype: object

### Our main concern Car's transmission is automatic or manual

In [5]:
vehicles_data['trany2'] = ""
for i in range(len(vehicles_data['trany'])):
    if vehicles_data['trany'][i].split()[0].find("Automatic") or vehicles_data['trany'][i].split()[0].find("Auto"):
        vehicles_data['trany2'][i] = "Automatic"
    if vehicles_data['trany'][i].split()[0].find("Manual"):
        vehicles_data['trany2'][i] = "Manual"

KeyboardInterrupt:

In [46]:
vehicles_data['trany2'].value_counts()

# Insight: There are roughly twice as many automobile models with automatic transmission as there are models with manual transmission

Manual    28388
Auto      12809
Name: trany2, dtype: int64

# Munging, wrangling, and manipulation

# Analysis and modeling

# Communication and operationalization