# Necessary library install (uncomment below lines to install)

In [4]:
# !pip install matplotlib
# !pip install numpy
# !pip install pandas
# !pip install seaborn

## Importing necessary libraries

In [7]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Dataset discription
Feature - 83

rows - 41198

# Acquisition

In [10]:
## loading dataset to a variable
vehicles_data = pd.read_csv("dataset/vehicles.csv")
## showing top 6 row of the dataset
vehicles_data.head()
## showing last 6 row of the dataset
# vehicles_data.tail()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

# Exploration and understanding

## Data Description

#### Variable Identification

variable type and description can be found on the headers.names file in the dataset folder.

# Head columns and type

atvtype - type of alternative fuel or advanced technology vehicle

barrels08 - annual petroleum consumption in barrels for fuelType1 (1)

barrelsA08 - annual petroleum consumption in barrels for fuelType2 (1)

charge120 - time to charge an electric vehicle in hours at 120 V 

charge240 - time to charge an electric vehicle in hours at 240 V

In [16]:
# number of rows # number of columns
# rows, columns
vehicles_data.shape

(41197, 83)

In [17]:
# Variables and their type info
vehicles_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41197 entries, 0 to 41196
Data columns (total 83 columns):
barrels08          41197 non-null float64
barrelsA08         41197 non-null float64
charge120          41197 non-null float64
charge240          41197 non-null float64
city08             41197 non-null int64
city08U            41197 non-null float64
cityA08            41197 non-null int64
cityA08U           41197 non-null float64
cityCD             41197 non-null float64
cityE              41197 non-null float64
cityUF             41197 non-null float64
co2                41197 non-null int64
co2A               41197 non-null int64
co2TailpipeAGpm    41197 non-null float64
co2TailpipeGpm     41197 non-null float64
comb08             41197 non-null int64
comb08U            41197 non-null float64
combA08            41197 non-null int64
combA08U           41197 non-null float64
combE              41197 non-null float64
combinedCD         41197 non-null float64
combinedUF         41197 non-null float64
cylinders          40988 non-null float64
displ              40990 non-null float64
drive              40008 non-null object
engId              41197 non-null int64
eng_dscr           25035 non-null object
feScore            41197 non-null int64
fuelCost08         41197 non-null int64
fuelCostA08        41197 non-null int64
fuelType           41197 non-null object
fuelType1          41197 non-null object
ghgScore           41197 non-null int64
ghgScoreA          41197 non-null int64
highway08          41197 non-null int64
highway08U         41197 non-null float64
highwayA08         41197 non-null int64
highwayA08U        41197 non-null float64
highwayCD          41197 non-null float64
highwayE           41197 non-null float64
highwayUF          41197 non-null float64
hlv                41197 non-null int64
hpv                41197 non-null int64
id                 41197 non-null int64
lv2                41197 non-null int64
lv4                41197 non-null int64
make               41197 non-null object
model              41197 non-null object
mpgData            41197 non-null object
phevBlended        41197 non-null bool
pv2                41197 non-null int64
pv4                41197 non-null int64
range              41197 non-null int64
rangeCity          41197 non-null float64
rangeCityA         41197 non-null float64
rangeHwy           41197 non-null float64
rangeHwyA          41197 non-null float64
trany              41186 non-null object
UCity              41197 non-null float64
UCityA             41197 non-null float64
UHighway           41197 non-null float64
UHighwayA          41197 non-null float64
VClass             41197 non-null object
year               41197 non-null int64
youSaveSpend       41197 non-null int64
guzzler            2423 non-null object
trans_dscr         15047 non-null object
tCharger           6910 non-null object
sCharger           846 non-null object
atvType            3565 non-null object
fuelType2          1608 non-null object
rangeA             1603 non-null object
evMotor            856 non-null object
mfrCode            10379 non-null object
c240Dscr           84 non-null object
charge240b         41197 non-null float64
c240bDscr          80 non-null object
createdOn          41197 non-null object
modifiedOn         41197 non-null object
startStop          9493 non-null object
phevCity           41197 non-null int64
phevHwy            41197 non-null int64
phevComb           41197 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 25.8+ MB

In [18]:
## checking unique years of data  in the dataset
len(set(vehicles_data['year']))

37

# Munging, wrangling, and manipulation

# Analysis and modeling

# Communication and operationalization